    <div class="modal fade" id="findPlace">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header text-center">
                    <h4 class="modal-title text-center w-100">Find your unique places.</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close" onclick="resetForm('findModalForm')">&times;</button>
                </div>
                <!-- <hr class="hr-dark -->
                <div class="modal-body mx-1">

                    <form class="findPlaceForm pt-0" id="findModalForm" action="/rooms" method="POST" onsubmit="formValidCheck(event)" novalidate>
                        <div class="form-group col-md-12 text-center">

                            <label class="form-label" for="location">WHERE</label>
                            <select id="location" class="form-control">
                                <option>Toronto</option>
                                <option>Vancouver</option>
                                <option>Quebec</option>
                                <option>Montreal</option>
                                <option>Calgary</option>
                                <option>Ottawa</option>
                                <option>Edmonton</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12 mb-0">
                            <div class="form-row text-center">
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="checkIn">CHECK IN</label>
                                    <input type="date" class="form-control" id="checkIn" required>
                                    <div class="invalid-feedback">Please pick a date</div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="checkOut">CHECK OUT</label>
                                    <input type="date" class="form-control" id="checkOut" required>
                                    <div class="invalid-feedback">Please pick a date</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12 text-center">
                            <label class="form-label" for="inputLocation">GUESTS</label>
                            <input type="number" class="form-control" id="inputLocation" min="1"
                                placeholder="Number of guests..." required>
                            <div class="invalid-feedback">Please enter a number</div>
                        </div>
                        <div class="form-group col-md-12 text-center">
                            <button type="submit" class="btn btn-primary submit-btn btn-block">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>