 <footer>
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12" style="padding-left: 30px; padding-right:30px;">
            <h3 class="title">About Us</h3>
            <div class="part1 d-flex justify-content-left align-items-left">
              <p>airM&M is currently available in 100+ countries, and our Community Standards promote safety and
                belonging for everyone.
                We are here 24/7 to welcome you wherever you go. Our global customer support is always available and
                ready to help wherever you are.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" style="padding-left:30px; padding-right:30px;">
            <h3 class="title">Useful links</h3>
            <div class="part2 d-flex justify-content-left align-items-left">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#" data-toggle="modal" data-target="#signUp">Sign Up</a></li>
                <li><a href="#" data-toggle="modal" data-target="#logIn">Log In</a></li>
                <li><a href="#" data-toggle="modal" data-target="#uploadListing">Upload your listing</a></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12" style="padding-left:30px;">
            <div class="part3 d-flex justify-content-right align-items-right">
              <div class="social-icons">
                <span>
                  <a href="#" title="Facebook"><i class="fab fa-facebook"></i></a>
                  <a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
                  <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
                  <a href="#" title="Contact Us"><i class="far fa-envelope"></i></a>
                </span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <!-- <div class="container"> -->
      <div class="heading d-flex justify-content-center align-items-center">
        <span class="text-muted">&#169; WEB322 Assignment 1 - 2020 - Images used in this assignment are
          from https://unsplash.com/</span>
      </div>
    </div>
  </footer>