 <footer>
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
            <h3 class="title">About Us</h3>
            <div class="part1 d-flex justify-content-left align-items-left">
              <p>airM&M is currently available in 100+ countries, and our Community Standards promote safety and
                belonging for everyone.
                We are here 24/7 to welcome you wherever you go. Our global customer support is always available and
                ready to help wherever you are.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" style="padding-left:30px; padding-right:30px; padding-bottom:10px;">
            <h3 class="title">Useful links</h3>
            <div class="part2 d-flex justify-content-left align-items-left">
              <ul>
                <li><a href="/">Home</a></li>
                {{#if user}}
                <li><a href="/user/dashboard">Dashboard</a></li>
                <li><a href="/user/logout">Log out</a></li>
                {{else}}
                <li><a href="/user/sign-up">Sign Up</a></li>
                <li><a href="/user/login">Log In</a></li>
                {{/if}}
              </ul>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12" style="padding-left:30px;">
            <div class="part3 d-flex justify-content-right align-items-right">
              <div class="social-icons">
                <span>
                  <a href="#" title="Facebook"><i class="fab fa-facebook"></i></a>
                  <a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
                  <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
                  <a href="#" title="Contact Us"><i class="far fa-envelope"></i></a>
                </span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <!-- <div class="container"> -->
      <div class="heading d-flex justify-content-center align-items-center">
        <span class="text-muted">&#169; WEB322 - Fall2020 - Dong Thi Thuy Giang Nguyen</span>
      </div>
    </div>
  </footer>