<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- CSS -->
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
        <!-- script -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <script src="./js/paymentConfirm.js"></script>
</head>

<body>
    <!--Main Navigation-->
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light scrolling-navbar">

        <!-- Navbar brand -->
        <div class="col-md-4">
            <a class="navbar-brand justify-content-between title" href="/">airM&M</a>
        </div>

        <!-- Burger -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topHeader"
            aria-controls="topHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapsible content -->
        <div class="col-md-8">
            <div class="collapse navbar-collapse " id="topHeader">
                <ul class="navbar-nav smooth-scroll col-md-auto ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link title" href="/">Home</a>
                    </li>

                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle title" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" href="#">Become a host</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownHost">
                                <a class="dropdown-item title" data-toggle="modal" data-target="#signUp" href="#">Sign
                                    Up</a>
                                <a class="dropdown-item title" data-toggle="modal" data-target="#uploadListing"
                                    href="#">Upload your
                                    listing</a>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle signInUp" type="button" id="dropdownUser"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user user-icon"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownUser">
                                <a class="dropdown-item title" data-toggle="modal" data-target="#signUp" href="#">Sign
                                    Up</a>
                                <a class="dropdown-item title" data-toggle="modal" data-target="#logIn" href="#">Log
                                    In</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </nav>

    <!-- Payment confirmation -->
    <div class="container">
        <div class="paymentConfirmation">
            <h4>Payment Confirmation</h4>
            <hr class="hr-dark">
            <div class="confirmContent">
                <p><b>We have received your payment.</b> <br> An email with the booking and payment receipt will be
                    sent to your email shortly.</p>
                <p>We wish you a pleasant stay. Thank you.</p>
            </div>
        </div>
    </div>

    <!-- pop up Upload host listing -->
    <div class="modal fade" id="uploadListing">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header text-center">
                    <h4 class="modal-title text-center w-100">Tell us more about your place</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">&times;</button>
                </div>

                <div class="modal-body mx-1">
                    <form class="uploadListing" id="uploadRoomForm" action="/" method="POST" novalidate>

                        <div class="form-group col-md-12 mb-0">
                            <label data-error="wrong" data-success="right" class="hostAddress">Address</label>
                            <input type="text" id="hostAddress" class="form-control validate" placeholder="Address"
                                autocomplete="address-level4" tabindex="1" required>
                            <div class="invalid-feedback">Please enter your address</div>
                        </div>

                        <div class="form-group col-md-12 mb-0">
                            <label class="form-label" for="listingType">Place's description</label>
                            <select id="listingType" name="listingType" class="form-control" tabindex="2">
                                <option selected>Entire Place</option>
                                <option>Private Room</option>
                                <option>Shared room</option>
                            </select>
                        </div>

                        <div class="form-group col-md-12 mb-0">
                            <label data-error="wrong" data-success="right" for="numGuest">Number of guests</label>
                            <input type="number" id="numGuest" class="form-control validate"
                                placeholder="Number of guests" tabindex="3" required>
                            <div class="invalid-feedback">Please enter a number</div>
                        </div>

                        <div class="form-group col-md-12 mb-0">
                            <label class="form-label" for="propertyType">Type of property</label>
                            <select id="propertyType" tabindex="4" class="form-control">
                                <option>Apartment</option>
                                <option>Bed and breakfast</option>
                                <option>Hotel</option>
                                <option>House</option>
                            </select>
                        </div>

                        <div class="form-group col-md-12 mb-0">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputBedrooms">Bedrooms</label>
                                    <input type="number" class="form-control" id="inputBedrooms" tabindex="5" required>
                                    <div class="invalid-feedback">Please enter a number</div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputBathrooms">Bathrooms</label>
                                    <input type="number" class="form-control" id="inputBathrooms" tabindex="6" required>
                                    <div class="invalid-feedback">Please enter a number</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-12 mb-0">
                            <h5>Upload your listing's images</h5>
                            <p><small>You can choose more than 1 image.</small></p>
                            <hr class="hr-dark">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="listingImg" tabindex="7" multiple>
                                <label class="custom-file-label" for="listingImg">Choose file</label>
                                <div class="invalid-feedback">Please upload at least 1 image</div>
                            </div>
                            <hr class="hr-dark">
                            <p><small>By selecting Agree and submit below, I agree to airM&M’s <a href="#">Terms of
                                        Service</a>,
                                    <a href="#">Payments Terms of Service</a>, <a href="#">Privacy Policy</a>, and <a
                                        href="#">Nondiscrimination Policy</a>.</small></p>
                        </div>
                        <button class="btn btn-primary" type="submit" tabindex="7">Agree and submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- pop up sign up -->
    <div class="modal fade" id="signUp">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header text-center">
                    <h4 class="modal-title text-center w-100">Create an account</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">&times;</button>
                </div>

                <div class="modal-body mx-1">
                    <form class="signUpModal" id="signUpForm" action="/" method="POST" novalidate>
                        <div class="form-group col-md-12">
                            <div class="mb-0">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="far fa-envelope"></i></span>
                                    </div>
                                    <input type="email" id="signUpEmail" class="form-control validate"
                                        placeholder="Email address" autocomplete="email" tabindex="1" required>
                                    <label data-error="wrong" data-success="right" class="signUpEmail d-none"></label>
                                    <div class="invalid-feedback">Please enter a valid email address</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <div class="mb-0">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                    <input type="text" id="signUpFirstName" class="form-control validate"
                                        placeholder="First name" tabindex="2" required>
                                    <label data-error="wrong" data-success="right" class="d-none"
                                        for="signUpFirstName"></label>
                                    <div class="invalid-feedback">Please enter your first name</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <div class="mb-0">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                    <input type="text" id="signUpLastName" class="form-control validate"
                                        placeholder="Last name" tabindex="3" required>
                                    <label data-error="wrong" data-success="right" class="d-none"
                                        for="signUpLastName"></label>
                                    <div class="invalid-feedback">Please enter your last name</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-12 mb-0">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>

                                <input type="password" id="signUpPassword" class="form-control validate"
                                    placeholder="Create a Password" tabindex="4" required>
                                <label data-error="wrong" data-success="right" class="d-none"
                                    for="signUpPassword"></label>
                                <div class="invalid-feedback">Please enter a password</div>
                            </div>
                        </div>

                        <div class="form-group col-md-12 mb-0">
                            <hr class="hr-dark">
                            <h5>Birthday</h5>
                            <p>To sign up, you need to be at least 18 years old. Nobody will see your birthday.</p>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="inputBirthday" class="d-none"></label>
                                    <input type="date" class="form-control" id="inputBirthday" max='2002-10-11'
                                        tabindex="5" required>
                                    <div class="invalid-feedback">Please enter your date of birth</div>
                                </div>
                            </div>

                            <hr class="hr-dark">
                            <p><small>By selecting Agree and submit below, I agree to airM&M’s <a href="#">Terms of
                                        Service</a>, <a href="#">Payments Terms of Service</a>, <a href="#">Privacy
                                        Policy</a>, and <a href="#">Nondiscrimination Policy</a>.</small></p>
                        </div>
                        <button class="btn btn-primary" type="submit" tabindex="7">Agree and submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- pop up log in -->
    <div class="modal fade" id="logIn">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header text-center">
                    <h4 class="modal-title text-center w-100">Welcome back</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">&times;</button>
                </div>

                <div class="modal-body mx-1">
                    <form class="logInModal" id="logInForm" action="/" method="POST" novalidate>
                        <div class="form-group col-md-12">
                            <div class="mb-0">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="far fa-envelope"></i></span>
                                    </div>
                                    <input type="email" id="logInEmail" class="form-control validate"
                                        placeholder="Email address" autocomplete="email" tabindex="1" required>
                                    <label data-error="wrong" data-success="right" class="logInEmail d-none"></label>
                                    <div class="invalid-feedback">Please enter your email address</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-12 mb-0">

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
                                <input type="password" id="logInPassword" class="form-control validate"
                                    placeholder="Password" tabindex="2" required>
                                <label data-error="wrong" data-success="right" class="logInPassword d-none"></label>
                                <div class="invalid-feedback">Please enter a correct password</div>
                            </div>

                            <p class="blue-text d-flex justify-content-end pt-2"><small><a href="#"
                                        class="blue-text ml-1">Forgot
                                        your
                                        password?</a></small></p>
                            <p class="d-flex justify-content-end"><small>Don't have an account? <a href="#"
                                        role="button" id="signUpBtn">Sign Up</a></small></p>
                        </div>
                        <button class="btn btn-primary" type="submit" tabindex="3">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>